*{
    box-sizing: border-box 50px 50px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.k1{
    text-align: center;
    
    padding: 0px;
    margin: 0px;
    border-radius: 4px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightblue;
    border-radius: 4px;
}

input[type="text"],
input[type="url"],
input[type="link"],
select, 
file,
textarea{
     width: 100%;
     padding: 17px;
     border: 1px solid rgb(132, 209, 235);
     border-radius: 6px;
     margin: 5px;
}

.main{
    text-align: center;
}

input[type="submit"]{
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
   
}

input[type="submit"] :hover{
    background-color: rgb(79, 156, 182);
    text-align: center;
}

#logo {
    float:left;
    margin: 0px;
    padding: 0px;
}

#header {
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(235, 238, 240), rgba(226, 229, 231, 0.6)), url(https://images.static-collegedunia.com/public/college_data/images/appImage/15528_VESIT.jpg?tr=w-1300,h-200,c-force);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120px;
}